@import '../../../assets/styles/colors';
@import '../../../assets/styles/typo';

.container {
  width: 80%;
  margin: 100px auto;
  .content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    .error {
      margin-right: 50px;
    }
    .text {
      h1 {
        text-transform: uppercase;
        padding-bottom: 20px;
        color: $color-white;
        font-family: 'Righteous';
      }
    }
  }
}