<div class="container">
  <form
    [formGroup]="form"
    (ngSubmit)="sendMessage()"
    class="flex flex-col w-full mt-8"
  >
    <h1>Contactez-nous !</h1>
    <div class="relative mb-4">
      <div class="form-control">
        <input
          formControlName="name"
          placeholder="Noms & Prénoms"
          type="text"
          id="name"
          name="name"
        />
      </div>
    </div>
    <div class="relative mb-4">
      <div class="form-control">
        <input
          formControlName="email"
          placeholder="Email"
          type="email"
          id="email"
          name="email"
        />
      </div>
    </div>
    <div class="relative mb-4">
      <div class="form-control">
        <input
          formControlName="phone"
          placeholder="Téléphone"
          type="text"
          id="phone"
          name="phone"
        />
      </div>
    </div>
    <div class="relative mb-4">
      <div class="form-control">
        <input
          formControlName="society"
          type="text"
          id="society"
          name="society"
          placeholder="Entreprise"
        />
      </div>
    </div>
    <div class="relative mb-4">
      <div class="form-control">
        <input
          formControlName="position"
          type="text"
          id="position"
          name="position"
          placeholder="Poste"
        />
      </div>
    </div>
    <div class="relative mb-4">
      <div class="form-control">
        <textarea
          formControlName="message"
          id="message"
          name="message"
          placeholder="Message"
        ></textarea>
      </div>
    </div>
    <app-button text="ENVOYER" type="submit" class="btns"></app-button>
  </form>
</div>
