@import '../../../assets/styles/colors';
@import '../../../assets/styles/typo';

.container {
  background-color: $color-blue;
  padding: 20px 40px;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  height: 100vh;
  overflow: hidden;
  font-family: 'Varela';
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .form-control {
      margin: 2px 40px;
      width: 500px;
    }
  }
  h1,
  label {
    color: $color-white;
  }
  input,
  textarea {
    border-radius: 5px;
    &:focus {
      outline: 0;
    }
  }
  input {
    border: 2px $color-white solid;
    display: block;
  }
  textarea {
    width: 480px;
    height: 200px;
    border: none;
  }
  .btn {
    text-align: center;
  }
}