<div class="container">
  <form
    [formGroup]="form"
    (ngSubmit)="sendMessage()"
    class="flex flex-col w-full mt-8"
  >
    <h1>Contactez-nous !</h1>
    <div class="relative mb-4">
      <label for="name" class="leading-7 text-sm text-gray-600"
        >Noms et prénoms</label
      >
      <input formControlName="name" type="text" id="name" name="name" />
    </div>
    <div class="relative mb-4">
      <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
      <input formControlName="email" type="email" id="email" name="email" />
    </div>
    <div class="relative mb-4">
      <label for="email" class="leading-7 text-sm text-gray-600"
        >Téléphone</label
      >
      <input formControlName="phone" type="text" id="phone" name="phone" />
    </div>
    <div class="relative mb-4">
      <label for="email" class="leading-7 text-sm text-gray-600"
        >Entreprise</label
      >
      <input
        formControlName="society"
        type="text"
        id="society"
        name="society"
      />
    </div>
    <div class="relative mb-4">
      <label for="email" class="leading-7 text-sm text-gray-600">Poste</label>
      <input
        formControlName="position"
        type="text"
        id="position"
        name="position"
      />
    </div>
    <div class="relative mb-4">
      <label for="message" class="leading-7 text-sm text-gray-600"
        >Message</label
      >
      <textarea
        formControlName="message"
        id="message"
        name="message"
      ></textarea>
    </div>
    <app-button text="ENVOYER" type="submit" class="btn"></app-button>
  </form>
</div>
