<div class="container">
  <h1>Inscrivez-vous !</h1>
  <form>
    <div class="form-control">
      <input type="text" placeholder="Noms" required />
    </div>

    <div class="form-control">
      <input type="text" placeholder="Prénoms" required />
    </div>

    <div class="form-control">
      <input type="text" placeholder="Entreprise" required />
    </div>

    <div class="form-control">
      <input type="text" placeholder="Poste" required />
    </div>

    <div class="form-control">
      <input type="text" placeholder="Pays" required />
    </div>

    <div class="form-control">
      <input type="email" placeholder="Email" required />
    </div>

    <div class="form-control">
      <input type="password" placeholder="Mot de passe" required />
    </div>

    <div class="form-control">
      <input type="password" placeholder="Confirmer mot de passe" required />
    </div>

    <app-button text="S'inscrire" class="login"></app-button>

    <p class="text">
      Vous avez déjà un compte ?
      <a class="link" routerLink="login">Connectez-vous.</a>
    </p>
  </form>
</div>
