<div class="container">
  <h1>Inscrivez-vous !</h1>
  <form class="form" [formGroup]="signupForm" (ngSubmit)="signUp()">
    <div class="form-control">
      <input
        formControlName="name"
        id="name"
        type="text"
        placeholder="Noms"
        required
      />
    </div>

    <div class="form-control">
      <input
        formControlName="firstname"
        id="firstname"
        type="text"
        placeholder="Prénoms"
        required
      />
    </div>

    <div class="form-control">
      <input
        formControlName="startup"
        id="startup"
        type="text"
        placeholder="Entreprise"
        required
      />
    </div>

    <div class="form-control">
      <input
        formControlName="position"
        id="position"
        type="text"
        placeholder="Poste"
        required
      />
    </div>

    <div class="form-control">
      <input
        formControlName="country"
        id="country"
        type="text"
        placeholder="Pays"
        required
      />
    </div>

    <div class="form-control">
      <input
        formControlName="email"
        id="email"
        type="email"
        placeholder="Email"
        required
      />
    </div>

    <div class="form-control">
      <input
        formControlName="password"
        id="password"
        type="password"
        placeholder="Mot de passe"
        required
      />
    </div>

    <!-- <div class="form-control">
      <input type="password" placeholder="Confirmer mot de passe" required />
    </div> -->

    <app-button text="S'inscrire" class="login" type="submit"></app-button>

    <p class="text">
      Vous avez déjà un compte ?
      <a class="link" routerLink="/login">Connectez-vous.</a>
    </p>
  </form>
</div>
