@import '../../../assets/styles/colors';
@import '../../../assets/styles/typo';

%btn {
  text-transform: uppercase;
  font-family: 'VarelaRound';
  font-weight: bolder;
  background: transparent;
  color: $color-white;
  padding: 0.5rem 0.75rem;
  font-size: .8rem;
  border-radius: 5px;
  border: 2px solid $color-primary;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  &:hover {
    color: $color-primary;
    background: $color-white;
    border: 2px solid $color-primary;
    scale: 1.1;
  }
}

button {
  @extend %btn;
}