@import '../../../assets/styles/colors';
@import '../../../assets/styles/typo';

footer {
  border-top: 1px solid $color-white;
  margin-top: 200px;
  color: $color-white;
  font-family: 'Varela';
  background: #102a42;
  .content {
    width: 70%;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .branding {
      text-align: center;
      .social {
        .icon {
          font-size: 30px;
          color: $color-secondary;
          margin: 10px;
          &:hover {
            cursor: pointer;
            color: $color-white;
            scale: 1.1;
          }
        }
      }
      .logo {
        width: 50%;
        &:hover {
          filter: drop-shadow(0 0 20px #C63753);
          cursor: pointer;
          scale: 1.2;
        }
      }
    }
    .sitemap {
      padding-top: 30px;
      .links {
        li {
          padding: 5px;
          &:hover {
            scale: 1.1;
          }
          a {
            text-transform: uppercase;
            color: $color-white;
            font-family: 'Righteous';
            text-decoration: none;
            font-size: 20px;
            &:hover {
              text-decoration: underline;
              color: #C63753;
            }
          }
        }
      }
    }
    .infos {
      padding-top: 30px;
      font-family: 'Montserrat';
      span {
        padding: 5px;
      }
      .address {
        .place {
          margin-bottom: 15px;
          text-align: justify;
          span {
            font-size: 12px;
          }
          .town {
            color: #C63753;
            font-size: 20px;
            font-family: 'Righteous';
          }
        }
      }
    }
  }
  .copyright {
    background: $color-dark;
    padding: 1rem 1rem;
    font-family: 'Righteous';
    p {
      color: $color-white;
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 0;
    }
  }
}