<footer>
  <div class="content">
    <div class="branding">
      <img src="../../../assets/img/logo4-nobg.png" alt="" class="logo" />
      <div class="social">
        <a href="#">
          <i class="fa-brands fa-facebook icon"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-instagram icon"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-twitter icon"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-linkedin icon"></i>
        </a>
      </div>
    </div>
    <div class="sitemap">
      <ul class="links">
        <li>
          <a class="link" routerLink="">accueil</a>
        </li>
        <li>
          <a class="link" routerLink="cabinet">cabinet</a>
        </li>
        <li>
          <a class="link" routerLink="solutions">solutions</a>
        </li>
        <li>
          <a class="link" routerLink="archives">archives</a>
        </li>
        <li>
          <a class="link" routerLink="archives">mentions légales</a>
        </li>
        <li>
          <a class="link" routerLink="archives">politique de confidentialité</a>
        </li>
      </ul>
    </div>
    <div class="infos">
      <div class="address">
        <span
          ><i class="fa-solid fa-location-dot"></i> Abidjan, Côte d'Ivoire</span
        >
      </div>
      <div class="contact">
        <span><i class="fa-solid fa-envelope"></i> contact@aip.africa</span>
        <span><i class="fa-solid fa-mobile"></i> +225 (07) 22 22 22</span>
        <span><i class="fa-brands fa-whatsapp"></i> +225 (07) 22 22 22</span>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2022<span id="date"></span> - all rights reserved.</p>
  </div>
</footer>
