<footer>
  <div class="content">
    <div class="branding">
      <img src="../../../assets/img/logo5-nobg.png" alt="" class="logo" />
      <div class="social">
        <a href="#">
          <i class="fa-brands fa-facebook icon"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-instagram icon"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-twitter icon"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-linkedin icon"></i>
        </a>
      </div>
    </div>
    <div class="sitemap">
      <ul class="links">
        <li>
          <a class="link" routerLink="">accueil</a>
        </li>
        <li>
          <a class="link" routerLink="cabinet">cabinet</a>
        </li>
        <li>
          <a class="link" routerLink="solutions">solutions</a>
        </li>
        <li>
          <a class="link" routerLink="archives">archives</a>
        </li>
        <li>
          <a class="link" routerLink="archives">mentions légales</a>
        </li>
        <li>
          <a class="link" routerLink="archives">politique de confidentialité</a>
        </li>
      </ul>
    </div>
    <div class="infos">
      <div class="address">
        <div class="place">
          <span class="blue"><i class="fa-solid fa-location-dot"></i> Togo</span
          ><br />
          <span><i class="fa-solid fa-mobile"></i> +22879860999</span><br />
          <span>Nukafu, face Direction Générale SOTRAL, Immeuble MENSANH</span
          ><br />
          <span
            ><i class="fa-solid fa-envelope"></i> freddkoudahoua@gmail.com</span
          >
        </div>
        <div class="place">
          <span class="blue"
            ><i class="fa-solid fa-location-dot"></i> Côte d'Ivoire</span
          ><br />
          <span><i class="fa-solid fa-mobile"></i> +2250101460000</span><br />
          <span>Cocody Ambassades, A57 Rue du Bélier, Villa COLOMB</span>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2022<span id="date"></span> - all rights reserved.</p>
  </div>
</footer>
