<section id="cabinet">
  <div class="container">
    <article class="item">
      <h1 class="title">Le Cabinet</h1>
      <hr />
      <p>
        <span>AFRICA INTEGRATION PARTNERS</span>, est un cabinet global
        spécialisé dans l’accompagnement des politiques africaines sur les
        problématiques d’accompagnement des entrepreneurs et PME, de la
        transformation du secteur informel et d’insertion des jeunes.
      </p>
      <p>
        Nous intervenons en <span>amont</span> à travers des conseils aux états
        pour la rédaction et l’implémentation de politiques appropriées, les
        bailleurs de fonds ou les entreprises dans leur politique RSE dans la
        <span>conception</span> de leurs projets ou programmes ou encore en
        étant force de proposition sur ces initiatives.
      </p>
      <p>
        En aval, notre intervention est directement à l’endroit des PME dans
        <span
          >l’exécution de nos projets et programmes ou en étant le bras
          opérationnel de nos partenaires institutionnels</span
        >
        à travers des diagnostics, de la réflexion stratégique, de la formation,
        du coaching de dirigeants et pouvant aller jusqu’à la recherche de
        financement.
      </p>
      <p>
        Sur la thématique de l’insertion ou de la reconversion, nous renforçons
        la capacité des jeunes à travers nos programmes visant à développer
        leurs soft skills et structurer leurs compétences de gestion et les
        accompagnons à décrocher leur premier emploi.
      </p>
      <p>
        Parce que nous sommes orientés résultat, nous ne nous limitons pas qu’à
        vous conseiller ! Les conseils, c’est bien, mais les résultats concrets,
        c’est mieux !
      </p>
      <hr />
    </article>
    <article class="item">
      <h1 class="title">Notre Equipe</h1>
      <hr />
      <p>
        Une équipe jeune, avec une bonne compréhension de vos enjeux, engagée et
        expérimentée, vous accompagne !
      </p>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="LE CEO">
          <div class="text ceo">
            <img src="../../../assets/img/fred1.jpg" alt="" class="fred" />
            <div class="content">
              <h1>Freddy KOUDAHOUA</h1>
              <p>
                Financier et gestionnaire de projets de formation, Freddy
                KOUDAHOUA bénéficie d’une longue expérience
                <span>à l’international</span> en stratégie d’entreprise et
                développement des affaires dans les domaines des télécoms, des
                Médias, du textile, des FMCG et du <span>négoce</span>.
              </p>
              <p>
                Avec plus de 12 années d’expérience à son actif, Freddy
                KOUDAHOUA cumule plusieurs rôles. Il ambitionne d'accompagner le
                plus d'entreprises possibles dans leur développement.
              </p>
              <p>
                Passionné par le renforcement des capacités, il s'est toujours
                distingué par ses aptitudes à faire monter en compétences ses
                équipes.
              </p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="LES COLLABORATEURS">
          <div class="text">
            <ol>
              <li>Meyriem CHFIRI</li>
              <li>Francky</li>
              <li>Des partenaires français</li>
            </ol>
          </div>
        </mat-tab>
      </mat-tab-group>
      <hr />
    </article>
    <article class="item">
      <h1 class="title">Notre Vision</h1>
      <hr />
      <p>
        Etre le référent en Afrique de la révélation de champions nationaux
        <span>et régionaux!</span>
      </p>
      <hr />
    </article>
    <article class="item">
      <h1 class="title">Notre Mission</h1>
      <hr />
      <p>
        Accompagner la création et la réussite des PME africaines, l’insertion
        et la reconversion des jeunes.
      </p>
      <hr />
    </article>
    <article class="item">
      <h1 class="title">Nos Valeurs</h1>
      <hr />
      <ul>
        <li>
          <span>Ecoute</span> : parce qu’une stratégie n’est adapté que si elle
          répond réellement au besoin, nous accordons du prix à l’écoute des
          besoins de nos clients/partenaires.
        </li>
        <li><span>Ouverture.</span></li>
        <li><span>Curiosité.</span></li>
        <li><span>Agilité.</span></li>
        <li><span>Engagement.</span></li>
        <li><span>Passion.</span></li>
      </ul>
      <hr />
    </article>
  </div>
</section>
