@import '../../../assets/styles/colors';
@import '../../../assets/styles/typo';

.nav {
  padding-top: 1rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    color: #C63753;
    font-weight: bold;
  }
  .logo {
    max-width: 10%;
    &:hover {
      scale: 1.2;
      filter: drop-shadow(0 0 10px #C63753);
    }
  }
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .nav-toggle {
      font-size: 1.5rem;
      color: $color-white;
      color: #21556b;
      background: transparent;
      border-color: transparent;
      display: none;
      cursor: pointer;
      &:hover {
        scale: 1.1;
        color: #C63753;
      }
    }
  }
  .links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .links {
      display: flex;
      align-items: center;
      li {
        color: #21556B;
        &:hover {
          scale: 1.1;
        }
        a {
          text-decoration: none;
          font-family: 'Righteous';
          font-size: 18px;
          color: #21556b;
          margin: 0 .7rem;
        }
        .active {
          font-weight: bolder;
          color: #C63753;
          scale: 1.2;
        }
      }
      .signup {
        font-family: 'Montserrat' !important;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .account {
      display: flex;
      align-items: center;
      li {
        a {
          text-decoration: none;
          font-family: 'Montserrat';
          font-size: 15px;
          color: #21556b;
          margin: 0 .7rem;
          &:hover {
            color: #21556B;
          }
        }
      }
    }
  }
}


.show-links {
  height: 200px;
}