<div class="nav">
  <!-- nav header -->
  <div class="nav-header">
    <a class="branding" routerLink="">
      <img src="../../../assets/img/logo.png" class="logo" alt="logo" />
    </a>
    <button class="nav-toggle">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <!-- links -->
  <div class="links-container">
    <ul class="links">
      <li>
        <a
          class="link"
          aria-current="page"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >HOME</a
        >
      </li>
      <li>
        <a class="link" routerLink="cabinet" routerLinkActive="active"
          >CABINET</a
        >
      </li>
      <li>
        <a class="link" routerLink="solutions" routerLinkActive="active"
          >SOLUTIONS</a
        >
      </li>
      <li>
        <a class="link" routerLink="archives" routerLinkActive="active"
          >ARCHIVES</a
        >
      </li>
    </ul>
    <ul class="account">
      <li><a routerLink="login" class="login">Se connecter</a></li>
      <span>|</span>
      <li><a routerLink="signup" class="signup">Créer un compte</a></li>
    </ul>
  </div>
</div>
