<header id="hero">
  <div class="container">
    <!-- banner -->
    <div class="banner">
      <h1>africa integration partners</h1>
      <p>
        AIP est un cabinet spécialisé dans l’accompagnement des PME et des
        jeunes à travers des études, du conseil, de la formation et de
        l’assistance à la levée de fonds. Nous interagissons avec les pouvoirs
        publics, les organismes internationaux, les porteurs de projets, les
        TPE, PME et divers professionnels.
      </p>
      <div class="btns">
        <app-button
          (click)="downloadFile()"
          text="voir la plaquette"
          class="btn"
        ></app-button>
        <app-button text="nous contacter" class="btn"></app-button>
      </div>
    </div>
  </div>
</header>

<section id="services">
  <div class="container">
    <h1>nos services</h1>
    <div class="content">
      <article class="item">
        <img
          src="https://i.postimg.cc/PxKmx9C5/pexels-edmond-dante-s-8550657.jpg"
          alt=""
          class="item-img"
        />
        <div class="item-info">
          <h3>conseil</h3>
          <p class="item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corporis
            ipsum nihil impedit perferendis ex officiis harum quo error eum
            minus, exercitationem, doloribus qui aliquid nulla temporibus
            tempora iste laudantium!
          </p>
        </div>
      </article>
      <article class="item">
        <img
          src="https://i.postimg.cc/SK25cL64/pexels-christina-morillo-1181355.jpg"
          alt=""
          class="item-img"
        />
        <div class="item-info">
          <h3>analyse</h3>
          <p class="item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corporis
            ipsum nihil impedit perferendis ex officiis harum quo error eum
            minus, exercitationem, doloribus qui aliquid nulla temporibus
            tempora iste laudantium!
          </p>
        </div>
      </article>
      <article class="item">
        <img
          src="https://i.postimg.cc/Pr0H29tJ/pexels-antoni-shkraba-production-8837502.jpg"
          alt=""
          class="item-img"
        />
        <div class="item-info">
          <h3>études</h3>
          <p class="item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corporis
            ipsum nihil impedit perferendis ex officiis harum quo error eum
            minus, exercitationem, doloribus qui aliquid nulla temporibus
            tempora iste laudantium!
          </p>
        </div>
      </article>
      <article class="item">
        <img
          src="https://i.postimg.cc/gcqGcNqB/pexels-pnw-production-8276671.jpg"
          alt=""
          class="item-img"
        />
        <div class="item-info">
          <h3>formation</h3>
          <p class="item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corporis
            ipsum nihil impedit perferendis ex officiis harum quo error eum
            minus, exercitationem, doloribus qui aliquid nulla temporibus
            tempora iste laudantium!
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
