<header id="hero">
  <div class="container hero">
    <!-- banner -->
    <div class="banner">
      <p class="title">Le Conseil, Notre Expertise.</p>
      <p class="text">
        Vous avez une idée ? Un projet ? Vous avez déjà vos premiers clients
        ?<br />Faites-vous accompagner par nos experts et garantissez votre
        réussite !<br /><a routerLink="cabinet">AFRICA INTEGRATION PARTNERS</a>,
        le partenaire de votre croissance !
      </p>
      <div class="btns">
        <a class="file" href="../../../assets/aip.pdf" target="_blank"
          >LA PLAQUETTE</a
        >
        <app-button text="nous contacter" routerLink="contact"></app-button>
      </div>
    </div>
    <div class="hero-img">
      <img class="fred" src="../../../assets/img/fred.jpg" alt="" />
    </div>
  </div>
</header>

<section id="description">
  <div class="container">
    <div class="content">
      <img
        src="https://i.postimg.cc/BZ7dzKwZ/pexels-picha-stock-3894377.jpg"
        alt=""
        class="content-img"
      />
      <div class="text">
        <h1>QUI SOMMES-NOUS?</h1>
        <p>
          <a routerLink="cabinet">AFRICA INTEGRATION PARTNERS</a>, est un
          cabinet global spécialisé dans l’accompagnement des politiques
          africaines sur les problématiques d’accompagnement des entrepreneurs
          et PME, de la transformation du secteur informel et d’insertion des
          jeunes.
        </p>
        <p>Nous intervenons en amont auprès des partenaires dont :</p>
        <ol>
          <li>
            <span>Les Etats</span> : conseils pour la rédaction et
            l’implémentation de politiques appropriées.
          </li>
          <li>
            <span>Les bailleurs de fonds</span> : opérationnalisation des
            projets/programmes de développement des économies africaines.
          </li>
          <li>
            <span>Les grandes entreprises</span> : sur le pan de leur politique
            RSE en lien avec nos thématiques.
          </li>
        </ol>
        <p>
          En aval, notre intervention est directement à l’endroit des PME dans
          l’exécution de nos projets et programme ou en étant le bras
          opérationnel de nos partenaires institutionnel à travers :
        </p>
        <ol>
          <li>Des diagnostics ;</li>
          <li>De la réflexion stratégique ;</li>
          <li>De la formation ;</li>
          <li>Du coaching de dirigeants ;</li>
          <li>La recherche de financement.</li>
        </ol>
        <p>
          Sur la thématique de l’insertion ou de la reconversion, nous
          renforçons la capacité des jeunes à travers nos programmes visant à :
        </p>
        <ol>
          <li>Développer leurs soft skills ;</li>
          <li>Structurer leurs compétences de gestion ;</li>
          <li>Et les accompagnons à décrocher leur premier emploi.</li>
        </ol>
        <app-button routerLink="cabinet" text="En Savoir Plus..."></app-button>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <h1>nos services</h1>
    <div class="content">
      <div class="content-row">
        <article class="item">
          <img
            src="https://i.postimg.cc/PxKmx9C5/pexels-edmond-dante-s-8550657.jpg"
            alt=""
            class="item-img"
          />
          <div class="item-info">
            <h3>Conseil</h3>
            <app-button
              routerLink="solutions"
              text="En Savoir Plus..."
            ></app-button>
          </div>
        </article>
        <article class="item">
          <img
            src="https://i.postimg.cc/SK25cL64/pexels-christina-morillo-1181355.jpg"
            alt=""
            class="item-img"
          />
          <div class="item-info">
            <h3>Etudes</h3>
            <app-button
              routerLink="solutions"
              text="En Savoir Plus..."
            ></app-button>
          </div>
        </article>
      </div>
      <div class="content-row">
        <article class="item">
          <img
            src="https://i.postimg.cc/Pr0H29tJ/pexels-antoni-shkraba-production-8837502.jpg"
            alt=""
            class="item-img"
          />
          <div class="item-info">
            <h3>Orientation</h3>
            <app-button
              routerLink="solutions"
              text="En Savoir Plus..."
            ></app-button>
          </div>
        </article>
        <article class="item">
          <img
            src="https://i.postimg.cc/gcqGcNqB/pexels-pnw-production-8276671.jpg"
            alt=""
            class="item-img"
          />
          <div class="item-info">
            <h3>Formation</h3>
            <app-button
              routerLink="solutions"
              text="En Savoir Plus..."
            ></app-button>
          </div>
        </article>
      </div>
      <div class="content-row">
        <article class="item">
          <img
            src="https://i.postimg.cc/j5yFFs3k/pexels-picha-stock-3894378.jpg"
            alt=""
            class="item-img"
          />
          <div class="item-info">
            <h3>Levée de fonds</h3>
            <app-button
              routerLink="solutions"
              text="En Savoir Plus..."
            ></app-button>
          </div>
        </article>
        <article class="item">
          <img
            src="https://i.postimg.cc/CL2sk3mZ/pexels-rebrand-cities-1367269.jpg"
            alt=""
            class="item-img"
          />
          <div class="item-info">
            <h3>Bilan de compétences</h3>
            <app-button
              routerLink="solutions"
              text="En Savoir Plus..."
            ></app-button>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section id="choice">
  <div class="container">
    <h1>POURQUOI NOUS CHOISIR ?</h1>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Expertise">
        <div class="text">
          <p>
            Nous mobilisons l’expertise africaine et sectorielle pour optimiser
            vos performances et faciliter votre aventure entrepreneuriale.
          </p>
          <p>
            AIP, c’est une équipe de professionnels aguerris, passionnés,
            soucieux des enjeux de diversité et d’équité, investis à la cause du
            développement inclusive et de la compétitivité industrielle et
            commerciale des PME africaine, à votre écoute et qui vous assiste
            tout au long de votre projet.
          </p>
          <p>
            AIP, c’est une équipe de professionnels aguerris, passionnés,
            soucieux des enjeux de diversité et d’équité, investis à la cause du
            développement inclusive et de la compétitivité industrielle et
            commerciale des PME africaine, à votre écoute et qui vous assiste
            tout au long de votre projet.
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Valeurs">
        <div class="text">
          <p>
            Engagé sur des questions d’équité, de diversité, et d’inclusion,
            nous intégrons une forte dimension humaine dont la bienveillance et
            nos valeurs de société qui sont : écoute et ouverture, Audace et
            curiosité, Passion et engagement.
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Vision">
        <div class="text">
          <p>
            Etre le référent en Afrique de la révélation de champions nationaux
            et régionaux !
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Approche">
        <div class="text">
          <p>Une approche très opérationnelle orientée action et résultat.</p>
        </div>
      </mat-tab>
      <mat-tab label="Offre adaptée">
        <div class="text">
          <h2>Une offre globale adaptée aux enjeux de nos économies</h2>
          <p>
            Choisissez l’offre qui correspond à votre profil<br />
            ▪ Accompagnement des entrepreneurs et PME/PMI<br />
            ▪ Insertion/reconversion des Jeunes<br />
            ▪ Développement des compétences des cadres<br />
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Engagements">
        <div class="text">
          <p>
            Parce que nous sommes orientés résultat, nous ne nous limitons pas
            qu’à conseiller ! Les conseils, c’est bien, mais les résultats
            concrets, c’est mieux !
          </p>
          <h2>Pour nos partenaires</h2>
          <ol>
            <li>Optimiser l’utilisation de votre budget</li>
            <li>Proposer un .e interlocuteur (trice) privilégié .e</li>
            <li>Faire preuve de transparence absolue</li>
            <li>Proposer la meilleure équipe</li>
            <li>Etablir l’impact réel et quantifiable de nos interventions</li>
          </ol>
          <h2>Pour nos auditeurs</h2>
          <ol>
            <li>Faire preuve d’écoute et de disponibilité</li>
            <li>Garantir une réelle montée en compétences</li>
            <li>Garantir leur visibilité pendant la durée des programmes</li>
          </ol>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
