@import '../../../assets/styles/colors';
@import '../../../assets/styles/typo';

.container {
  width: 80%;
  margin: 50px auto;
  color: $color-white;
  font-family: 'Varela';
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: $color-primary;
}

#hero {
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(-1000px) scale(0.1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.4), rgba(0, 0, 0, 0.9)), url(https://i.postimg.cc/xdwZ5k5z/pexels-christina-morillo-1181422.jpg) center/cover no-repeat;
  .banner {
    animation: fadeInRight 1500ms ease-in-out;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 120px;
    h1 {
      text-transform: uppercase;
      color: $color-white;
      font-family: 'VarelaRound';
      font-size: 3rem;
      font-weight: bolder;
    }
    p {
      margin: 20px auto;
      width: 50rem;
      font-family: 'Inter';
      color: $color-white;
    }
  }
}

#description {
  margin-bottom: 100px;
  margin-top: 100px;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content-img {
      width: 60%;
      border: 5px solid $color-white;
      border-radius: 5px;
      &:hover {
        border: 5px solid $color-primary;
      }
    }
    .text {
      text-align: justify;
      padding-left: 50px;
    }
  }
}

#services {
  margin-bottom: 100px;
  margin-top: 100px;
  color: $color-white;
  font-family: 'InterTight';
  margin-bottom: 200px;
  h1 {
    font-family: 'Varela';
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
  }
  .content {
    width: 100%;
    margin: 0 auto;
    .content-row {
      display: flex;
      justify-content: space-between;
    }
    .item {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      .item-img {
        object-fit: cover;
        height: 200px;
        border: 5px solid $color-white;
        border-radius: 5px;
        &:hover {
          scale: 1.05;
          border: 3px solid $color-primary;
        }
      }
      .item-info {
        width: 50%;
        padding-left: 20px;
        text-align: justify;
        h3 {
          border-bottom: 3px solid $color-white;
          margin-bottom: 10px;
          font-family: 'VarelaRound';
          font-size: 14px;
          text-transform: uppercase;
        }
        .btn {
          margin-bottom: 0;
          padding-top: 1rem;
        }
      }
    }
  }
}

#choice {
  .container {
    h1 {
      text-align: center;
    }
    .text {
      padding: 1rem;
      p {
        text-align: justify;
      }
    }
    ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
      color:$color-primary;
      background-color: $color-white;
      }
      
      ::ng-deep .mat-tab-list .mat-tab-labels {
      color: $color-white;
      background-color: $color-primary;
      }
  }
}