<header id="hero">
  <app-navbar></app-navbar>
  <div class="container">
    <!-- banner -->
    <div class="banner">
      <h1>africa integration partners</h1>
      <p>
        AIP, Africa Integration Partners est un cabinet spécialisé dans
        l’accompagnement des PME et des jeunes à travers des études, du conseil,
        de la formation et de l’assistance à la levée de fonds.<br /><br />Dans
        le cadre de nos activités, nous interagissons avec les pouvoirs publics,
        les organismes internationaux, les porteurs de projets, les TPE, PME et
        divers professionnels (experts).
      </p>
      <div class="btns">
        <app-button
          (click)="downloadFile()"
          text="voir la plaquette"
          class="btn"
        ></app-button>
        <app-button text="nous contacter" class="btn"></app-button>
      </div>
    </div>
  </div>
</header>
