@import '../../../assets/styles/colors';
@import '../../../assets/styles/typo';

.scroll {
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(1000px) scale(0.1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  animation: fadeInLeft 2000ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 50px;
  top: 250px;
  .social {
    margin-top: 20px;
    font-size: 30px;
    color: #21556b;
    &:hover {
      cursor: pointer;
      filter: drop-shadow(0 0 10px #C63753);
      scale: 1.1;
    }
  }
}